
body {
    font-family: 'Rubik', sans-serif;
    background: #3CDBC0;
    margin: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background: white;
    width: 100%;
    padding: 10px 0 13px;
}

@media all and (min-width:768px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


.logo {
    
    width: 155px;
    border: 20px;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 0;
}

.list_items {
    list-style: none;
    padding: 0px;
    margin-left: 20px;
}

 .list_item {
     margin-left: 0;
 }


.link {
    text-decoration: none;
    color: #4a4a4a;
}

.content {
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.content .text {
    width: 150px;
    text-align: center;
    font-weight: bold;
}