
.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    width: 100%;
    
}

@media all and (min-width:768px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


.logo {
    display: flex;
    flex-direction:
    width: 155px;
    border: 20px;
    justify-content: center;
}


.links .list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 0px;
    
    
}
.list_items {
    
    font-family: 'Rubik', sans-serif;
    list-style: none;
    margin: 5px 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    
    
}

.linky {
    text-decoration: none;
    color: #4a4a4a;
}

.content {
    background: #3CDBC0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;

}

.content .text {
    width: 150px;
    text-align: center;

}